<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Контакты</th>

            <th>CV</th>
            <th>Интервью</th>
            <th>Title</th>
            <th>Статус</th>


        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'core:candidate' pk=person.id %}" title="профиль">
                    {{ person.first_name }} {{ person.last_name }}
                </a>
            </td>
            <td>{{ person.email }}</td>

            <td>{{ person.cv|default:"-" }}</td>            
            <td>{{ person.interview|default:"-" }}</td>
            <td>{{ person.title|default:"-" }}</td>
            <td>{{ person.get_status_display|default:"-" }}</td>


        </tr>
        {% endfor %}
    </tbody>
</table>
