{% extends "base_generic.html" %}

{% block container %}
    <div class="row">
        <div class="span2">
            <div class="well" style="padding: 8px 0;">
                <ul class="nav nav-list">
                    <li class="nav-header">Меню</li>
                    <li><a href="{% url 'core:people' %}">Сотрудники</a></li>
                    <li><a href="{% url 'core:candidates' %}">Кандидаты</a></li>
                    {% if user.is_staff %}
                    <li><a href="{% url 'core:transactions' %}">Транзакции</a></li>
                    <li><a href="{% url 'core:settings' %}">Настройки</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="span10">
            {% block content %}{% endblock content %}
        </div>
    </div>
{% endblock container %}
