{% extends "core/inner_base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="span10"><h3>{{ inventory.name }} <a href="#editInventory" title="Редактировать инвентарь" data-toggle="modal"><i class="icon-pencil"></i></a></h3></div>
    </div>
    <div class="row">
        <div class="span3">
            <dl>
                <dt>Описание</dt><dd>{{ inventory.description }}</dd>
                <dt>Дата покупки</dt><dd>{{ inventory.purchase_date }}</dd>
                <dt>Стоимость</dt><dd>{{ inventory.price }}</dd>
                <dt>Тип</dt><dd>{{ inventory.get_inventory_type_display }}</dd>
                <dt>Сотрудник</dt><dd>{% if inventory.person %}
                                    <a href="{% url 'core:person' pk=inventory.person.id %}" title="профиль">
                                    {{ inventory.person }}</a>
                                    {% else %}-{% endif %}</dd>                   
            </dl>
        </div>

       <div class="span3">Отдам кота, недорого!</div>

    </div>
{% endblock content %}

{% block modals %}
    {% with action_id='editInventory' action_url='core:edit_inventory' person_id=inventory.id action_title='Редактировать кандидата' action_form=inventory_form %}
        {% include "core/modal_form.html" %}
    {% endwith %}  
{% endblock modals %}


