{% extends "core/inner_base.html" %}

{% block content %}
    <div class="row">
        <div class="span10">
            <h3>
                Люди
                <sup><small>
                    <a href="#newPerson" title="добавить сотрудника" data-toggle="modal"><i class="icon-plus"></i></a>
                </small></sup>
            </h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Имя</th>
                        <th>Позиция</th>
                        {% if user.is_staff %}
                        <th>З/П</th>
                        {% endif %}
                        <th>С нами с</th>
                        <th>Долг</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'core:person' pk=person.id %}" title="профиль">
                                {{ person.first_name }} {{ person.last_name }}
                            </a>
                        </td>
                        <td>{{ person.position }}</td>
                        <td>
                            {% if user.is_staff1 %}
                                {{ person.salary|default:"n/a" }}
                            {% else %}
                                секрет
                            {% endif %}
                        </td>
                        <td>{{ person.works_from }}</td>
                        <td>-</td>
                        <td>{{ person.is_active|yesno:"<i class='icon-ok-circle'></i>,<i class='icon-ban-circle'></i>"|safe }}</td>
                        <td><a data-action="add-payment" data-target="{% url 'core:add_payment' pk=person.id %}" href="#addPayment"><i class="icon-gift"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block modals %}
    <!-- person form -->
    {% with action_id='newPerson' action_url='core:add_person' action_title='Добавление сотрудника' action_form=person_form %}
        {% include "core/modal_form.html" %}
    {% endwith %}
    {% with action_id='addPayment' action_url='core:people' action_title='Внести з/п' action_form=payment_form %}
        {% include "core/modal_form.html" %}
    {% endwith %}
{% endblock modals %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/payment_form.js"></script>
{% endblock extra_js %}
