{% extends "core/inner_base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="span10"><h3>{{ person.full_name }} <a data-action="add-payment" data-target="{% url 'core:add_payment' pk=person.id %}" href="#addPayment"><i class="icon-gift"></i></a></h3></div>
    </div>
    <div class="row">
        <div class="span3">
            <dl>
                <dt>Email</dt><dd>{{ person.email }}</dd>
                <dt>Телефон</dt><dd>{{ person.phone }}</dd>
                <dt>Позиция</dt><dd>{{ person.position }}</dd>
                <dt>С нами с</dt><dd>{{ person.works_from }}</dd>
                 <dt><a href="#editPerson" title="Редактировать сотрудника" data-toggle="modal">Редактировать</a></dt><dd></dd>
            </dl>
        </div>
        {% if user.is_staff %}
        <div class="span3">
            <h4>Зарплатный план: <small><a href="#addSalary" data-toggle="modal">изменить</a></small></h4>
            <ul class="unstyled">
                {% for salary in person.salaries.all %}
                    {% if salary == person.salary %}
                        <li><b>{{ salary.active_from }} &ndash; {{ salary.amount }}</b> — сейчас</li>
                    {% else %}
                        <li>{{ salary.active_from }} &ndash; {{ salary.amount }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="span3">
            <h4>Выплаты:</h4>
            <ul class="unstyled">
                {% for transaction in person.transactions.all %}
                <li>{{ transaction.bill_date }} &mdash; <a href="#" data-toggle="tooltip" title="{{ transaction.comment }}">${{ transaction.amount }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
            <div class="span3">Отдам кота, недорого!</div>
        {% endif %}
    </div>
{% endblock content %}

{% block modals %}
    <div class="modal hide fade" id="addSalary">
        <form class="form-horizontal" action="{% url 'core:add_salary' %}" method="POST">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Изменить ставку</h3>
        </div>
        <div class="modal-body">
                {% csrf_token %}
                {% for hidden in salary_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in salary_form.visible_fields %}
                <div class="control-group">
                    <label class="control-label" for="inputEmail">{{ field.label_tag }}</label>
                    <div class="controls">{{ field }}</div>
                </div>
                {% endfor %}
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Отменить</a>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
        </form>
    </div>

    {% with action_id='addPayment' action_url='core:people' action_title='Внести з/п' action_form=payment_form %}
        {% include "core/modal_form.html" %}
    {% endwith %}


    {% with action_id='editPerson' action_url='core:edit_person' person_id=person.id title='Редактировать сотрудника' action_form=person_form %}
        {% include "core/modal_form.html" %}
    {% endwith %}  


{% endblock modals %}


{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/payment_form.js' %}"></script>
{% endblock extra_js %}
