{% extends "core/inner_base.html" %}

{% block content %}
    <div class="row">
        <div class="span10">
            <h3>
                Люди
                <sup><small>
                    <a href="#newPerson" title="добавить сотрудника" data-toggle="modal">добавить</a>
                </small></sup>
            </h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Имя</th>
                        <th>Позиция</th>
                        <th>З/П</th>
                        <th>С нами с</th>
                        <th>На сегодня</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'core:person' pk=person.id %}" title="профиль">
                                {{ person.first_name }} {{ person.last_name }}
                            </a>
                        </td>
                        <td>{{ person.position }}</td>
                        <td>{{ person.salary|default:"n/a" }}</td>
                        <td>{{ person.works_from }}</td>
                        <td>-</td>
                        <td>{{ person.is_active|yesno:"С нами,Без нас" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block modals %}
    <!-- person form -->
    <div class="modal hide fade" id="newPerson">
        <form class="form-horizontal" action="{% url 'core:add_person' %}" method="POST">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Добавление сотрудника</h3>
        </div>
        <div class="modal-body">

                {% csrf_token %}
                {% for field in person_form %}
                <div class="control-group">
                    <label class="control-label" for="inputEmail">{{ field.label_tag }}</label>
                    <div class="controls">{{ field }}</div>
                </div>
                {% endfor %}
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Отменить</a>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
        </form>
    </div>
{% endblock modals %}
