{% extends "core/inner_base.html" %}

{% block content %}
    <div class="row">
        <div class="span10">
            <h3>
                Транзакции
                <sup><small>
                    <a href="#newIncome" title="внести приход" data-toggle="modal">приход</a>
                    <a href="#newExpense" title="внести расход" data-toggle="modal">расход</a>
                    <a href="#newTransfer" title="перевод" data-toggle="modal">перевод</a>
                </small></sup>
            </h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>цель</th>
                        <th>дата</th>
                        <th>категория</th>
                        <th>сумма</th>
                        <th>валюта</th>
                        <th>счет</th>
                        <th></th>
                    </tr>
                </thead>
                {% for trans in object_list %}
                    <tr>
                        <td>{{ trans.get_direction_display }}</td>
                        <td>{{ trans.bill_date }}</td>
                        <td>{{ trans.category|default:"n/a" }}</td>
                        <td>{{ trans.amount }}</td>
                        <td>{{ trans.amount_src }} {{ trans.currency }}</td>
                        <td>{{ trans.account }}</td>
                        <td><a href="#">+</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock content %}


{% block modals %}
    <!-- expense form -->
    {% with action_id='newExpense' action_url='core:add_expense' action_title='Внести расход' action_form=expense_form %}
        {% include "core/modal_form.html" %}
    {% endwith %}
    <!-- income form -->
    {% with action_id='newIncome' action_url='core:add_income' action_title='Внести приход' action_form=income_form %}
        {% include "core/modal_form.html" %}
    {% endwith %}
    {% with action_id='newTransfer' action_url='core:add_transfer' action_title='Перевод' action_form=transfer_form %}
        {% include "core/modal_form.html" %}
    {% endwith %}
{% endblock modals %}
