{% extends "core/inner_base.html" %}

{% block content %}
    <div class="row">
        <div class="span10">
            <h3>
                Транзакции
                <sup><small>
                    <a href="#newIncome" title="внести приход" data-toggle="modal"><i class="icon-plus"></i></a>
                    <a href="#newExpense" title="внести расход" data-toggle="modal"><i class="icon-minus"></i></a>
                    <a href="#newTransfer" title="перевод" data-toggle="modal"><i class="icon-retweet"></i></a>
                </small></sup>
            </h3>
            <table class="table table-striped" id='1'>
                <thead>
                    <tr>
                        <th>цель</th>
                        <th>дата</th>
                        <th>категория</th>
                        <th>сумма</th>
                        <th>валюта</th>
                        <th>счет</th>
                        <th></th>
                    </tr>
                </thead>                  
            {# </table> #}
               {% for month, transactions in transactions %}
                    <tr class="info">
                        <th colspan="7"><h4>{{ month|date:"m.Y" }}</h4></th>
                    </tr>
            {# <table class="table table-striped" >   #}
                        {% for trans in transactions %}
                            <tr>
                                <td>
                                    {% with direction=trans.direction %}{% include "core/direction.html" %}{% endwith %}
                                </td>
                                <td><a href="#" data-toggle="tooltip" title="{{ trans.comment }}">{{ trans.bill_date }}</a></td>
                                <td>{{ trans.person|default:trans.category|default:"n/a" }}</td>
                                <td>{{ trans.amount }}</td>
                                <td>{{ trans.amount_src }} {{ trans.currency }}</td>
                                <td>{{ trans.account }}</td>
                                <td>
                                    <a data-action="add-commission" data-target="{% url 'core:add_comission' pk=trans.id %}" href="#addCommission">
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                </td>
                            </tr>
                            {% for child in trans.children.all %}
                                <tr style="font-size:0.8em;">
                                    <td></td>
                                    <td>
                                        {% with direction=child.direction %}{% include "core/direction.html" %}{% endwith %}
                                    </td>
                                    <td>{{ child.category|default:"n/a"|lower }}</td>
                                    <td>{{ child.amount }}</td>
                                    <td>{{ child.amount_src }} {{ child.currency}}</td>
                                    <td>{{ child.account }}</td>
                                    <td colspan="2"></td>
                                </tr>
                            {% endfor %}            
                        {% endfor %} 
            {# </table>   #}
                {% endfor %}



                {% comment %}
                {% for trans in object_list %}
                    <tr>
                        <td>
                            {% with direction=trans.direction %}{% include "core/direction.html" %}{% endwith %}
                        </td>
                        <td><a href="#" data-toggle="tooltip" title="{{ trans.comment }}">{{ trans.bill_date }}</a></td>
                        <td>{{ trans.person|default:trans.category|default:"n/a" }}</td>
                        <td>{{ trans.amount }}</td>
                        <td>{{ trans.amount_src }} {{ trans.currency }}</td>
                        <td>{{ trans.account }}</td>
                        <td>
                            <a data-action="add-commission" data-target="{% url 'core:add_comission' pk=trans.id %}" href="#addCommission">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </td>
                    </tr>
                    {% for child in trans.children.all %}
                        <tr style="font-size:0.8em;">
                            <td></td>
                            <td>
                                {% with direction=child.direction %}{% include "core/direction.html" %}{% endwith %}
                            </td>
                            <td>{{ child.category|default:"n/a"|lower }}</td>
                            <td>{{ child.amount }}</td>
                            <td>{{ child.amount_src }} {{ child.currency}}</td>
                            <td>{{ child.account }}</td>
                            <td colspan="2"></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                {% endcomment %}

            </table>
        </div>

    <div class="pagination">
        <span class="step-links">
            {% if transactions.has_previous %}
                <a href="?page={{ transactions.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
            </span>

            {% if transactions.has_next %}
                <a href="?page={{ transactions.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>


    </div>

{% endblock content %}


{% block modals %}
    <!-- expense form -->
    {% with action_id='newExpense' action_url='core:add_expense' action_title='Внести расход' action_form=expense_form %}
        {% include "core/modal_form.html" %}
    {% endwith %}
    <!-- income form -->
    {% with action_id='newIncome' action_url='core:add_income' action_title='Внести приход' action_form=income_form %}
        {% include "core/modal_form.html" %}
    {% endwith %}
    {% with action_id='newTransfer' action_url='core:add_transfer' action_title='Перевод' action_form=transfer_form %}
        {% include "core/modal_form.html" %}
    {% endwith %}
    {% with action_id='addCommission' action_url='core:transactions' action_title='Комиссия' action_form=commission_form %}
        {% include "core/modal_form.html" %}
    {% endwith %}
{% endblock modals %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/commission_form.js"></script>
{% endblock extra_js %}
